/*-------------------------------------------------------------------
    File Name: style.css
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
    1.import file
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*-------------------------------------------------------------------
    2.basic
-------------------------------------------------------------------*/

body {
    font-size: 14px;
    
    width: 100%;
    overflow-x: hidden;
    height: auto;

}
/* .container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

} */
.abouts

{
    text-align: center;
    margin-top: 5%;
   
}
.card

{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}
.card img

{
    width: 100%;
    height: 100%;
    transition: 0.5s all ease-in-out;
}
.card a{
    text-align: center;
}
.card p

{
 text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
body,
p {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #111428;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a {
    color: #121212 !important;
}

h1 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 23px
}

h2 {
    font-size: 27px;
    line-height: 38px;
    margin-bottom: 20px
}

h3 {
    font-size: 35px;
    line-height: normal;
    margin-bottom: 17px;
    font-weight: 600;
    color: #111428;
    letter-spacing: -1px;
    line-height: 35px;
}

h4 {
    font-size: 19px;
    line-height: 29px;
    margin-bottom: 14px
}

h5 {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 11px
}

h6 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 11px
}

a {
    color: #121212;
}



p {
    margin-bottom: 30px;
    font-size: 17px;
    line-height: normal;
    color: #444;
    font-weight: 300;
}

p.large {
    margin-bottom: 30px;
    font-size: 19px;
    line-height: 34px;
    color: #444;
    font-weight: 200;
}

ol,
ul {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none !important;
}

.white_fonts p,
.white_fonts h1,
.white_fonts h2,
.white_fonts h3,
.white_fonts h4,
.white_fonts h5,
.white_fonts h6,
.white_fonts ul,
.white_fonts ul li,
.white_fonts ul li a,
.white_fonts ul i,
.white_fonts .post_info i,
.white_fonts div,
.white_fonts a.read_morem,
.white_fonts small {
    color: #fff !important;
}
.card{
    margin: 5%;
}



.field input {
    width: 100%;
    margin-top: 10px;
    border: none;
    min-height: 45px;
    padding: 0 20px;
    line-height: 45px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.padding-left_0 {
    padding-left: 0;
}

.blog_detail h3 {
    text-transform: none;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 20px;
    text-align: justify;
}

.form_contact_main .field {
    width: 50%;
    float: left;
    padding: 0 5px;
}

.half_grey_section {
    background: #252525;
}

.br_single_blog_2 {
    float: left;
    width: 100%;
    margin: 15px 0;
}

.br_single_blog_2 hr {
    border-top: 2px dotted #d3d3d3;
    margin-top: 25px;
    margin-bottom: 25px;
}

.layout_padding_grey_half {
    padding: 80px 105px 80px 90px;
    text-align: center;
}

.width_50 {
    width: 50%;
}


.ekko-lightbox .modal-content {
    box-shadow: none !important;
    border: solid #fff 4px;
}

.modal-backdrop.show {
    opacity: 0.7;
}

.text_align_center {
    text-align: center;
}

.field {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.field label {
    float: left;
    width: 36%;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    margin: 0;
    min-height: 40px;
    line-height: 40px;
}

.custom_field {
    float: right;
    width: 64%;
    background: #f8f8f8;
    border: solid #e1e1e1 1px;
    min-height: 40px;
    border-radius: 5px;
    color: #000;
    font-size: 14px;
    padding: 5px 15px;
}

.field label {
    float: left;
    width: 36%;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    margin: 0;
    min-height: 40px;
    line-height: 40px;
}

.form_full label {
    width: 100%;
}

form#commant_form div.field textarea.custom_field {
    margin-bottom: 10px;
}



.border-radius_0 {
    border-radius: 0 !important;
}

.form_full input,
.form_full select {
    width: 100%;
    height: 50px;
}

.form_full textarea {
    min-height: 100px;
    width: 90%;
}
.small_heading.main-heading {
    margin-bottom: 20px;
    width: 100%;
}

.small_heading.main-heading h2 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}

.main-heading::after {
    width: 30px;
    height: 4px;
    background: #feb61a;
    content: "";
    margin: 0;
    display: block;
    position: relative;
}

/**---- Style the tab ----**/

.tab-details {
    float: right;
    padding: 2rem 0;
    width: 80%;
    background-color: #ffffff;
}

.tab-details .blog-meta h4 {
    font-size: 14px;
    margin: 0;
    padding: 0.5rem 0 0;
    line-height: 1.4;
}

div.tab {
    float: left;
    padding: 2rem 0;
    width: 20%;
    position: static;
    height: 100%;
    background-color: #121212;
}

div.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 0.9rem 1rem 0.7rem;
    width: 100%;
    border: 0;
    outline: none;
    text-align: right;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 0 solid #303030;
    line-height: 1;
    text-transform: capitalize;
}

div.tab button:hover,
div.tab button.active {
    background-color: #ffffff;
    border-right: 0 solid #303030;
    border-bottom: 0 solid #303030;
    border-left: 0 solid #303030;
}

div.tab button:hover {
    border-top: 0;
}

.tabcontent {
    padding: 0 2rem;
    display: none;
}

.tabcontent.active {
    display: block;
}


/* Style the topbar-section */

.topsocial .fa {
    margin-right: 0.5rem;
    font-size: 15px;
}

.topbar-section {
    display: block;
    position: relative;
    background-color: #1d1d1d;
    padding: 0.8rem 2rem;
    font-size: 14px;
}

.blog-list-widget .w-100,
.footer,
.header .dropdown-item,
.header .dropdown-item:hover,
.header .dropdown-item:focus,
div.tab button,
.topbar-section,
.topbar-section a {
    color: rgba(255, 255, 255, 1) !important;
}

div.tab button:hover,
div.tab button.active,
.topbar-section a:focus,
.topbar-section a:hover {
    color: rgba(255, 255, 255, 1) !important;
}

.topbar-section .list-inline {
    margin: 0;
    padding: 0;
}

.topbar-section .tooltip-inner {
    margin-top: 10px !important;
}

.topbar-section .list-inline-item {
    padding: 0 0 0 0.5rem !important;
}

.custom-select {
    border: 1px solid #e2e2e2;
    border-radius: 0;
    color: #464a4c;
    display: inline-block;
    font-size: 12px;
    font-weight: lighter;
    line-height: 1.25;
    max-width: 100%;
    min-height: 45px;
    outline: medium none;
    width: 100%;
}

.table-bordered thead td,
.table-bordered thead th {
    border: 0 none;
}

.page-title {
    position: relative;
    padding: 3rem 0 3rem;
}




.withoutdesc .breadcrumb {
    margin-top: 0;
    line-height: 1;
}


select.form-control:not([size]):not([multiple]) {
    color: #767676;
}

.form-control::-webkit-input-placeholder {
    color: #767676;
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: #767676;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #767676;
    opacity: 1;
}

.form-control::placeholder {
    color: #767676;
    opacity: 1;
}

a {
    text-decoration: none !important
}

.logo {
    float: left;
    margin-top: 25px;
    margin-bottom: 25px;
}

.contact-form .form-control {
    margin-bottom: 20px;
    height: 45px;
    border-radius: 0;
    font-size: 14px;
    border: 1px solid #e2e2e2;
}

.contact-detail {
    font-weight: 700;
    font-size: 15px;
    margin-right: 15px;
}

.contact-detail i {
    margin-right: 3px;
}

.contact-form textarea.form-control {
    height: 120px !important;
    padding-top: 15px;
}

.small-title {
    display: block;
    margin-bottom: 2rem
}

.small-title h4 {
    padding: 0;
    margin: 0 0 0;
    line-height: 1;
}

.contact-details {
    margin: 0 auto;
    padding: 0;
}

.contact-details h1,
.contact-details h2 {
    color: #ffffff;
    padding-bottom: 0;
    line-height: 1.6 !important;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.contact-details h1 {
    background-color: #121212;
    border: 10px solid #121212;
    -webkit-box-shadow: inset 0px 0px 0px 2px #313131;
    -moz-box-shadow: inset 0px 0px 0px 2px #313131;
    box-shadow: inset 0px 0px 0px 2px #313131;
    color: #fff;
    padding: 10px 0;
    font-weight: bold;
    max-width: 500px;
    line-height: 1;
    font-size: 38px;
    margin: 15px auto;
}



.card-body {
    padding: 20px 25px;
}

.card-body p {
    margin: 0;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 25px;
}

.row.contact{
    height: auto;
    
}

.gold_con {
    text-align: center;
    line-height: 500px;
}

.form_cont {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
    font-family: sans-serif
}

.form_cont form {
    width: 450px;
    
   

}



.form_cont form input {
    width: 90%;
    border-radius: 10%;
    margin-left: 5%;
    height: 60px;
    padding: 10px 30px;
    background: white;
    font-size: 17px;
    color: black;
    font-family: sans-serif;
    font-weight: 200;
    border: none;
    margin: 20px 0 0 0;
}

.form_cont form textarea {
    width: 90%;
    border-radius: 10%;
    height: 100px;
    padding: 20px 30px;
    background: white;
    font-size: 17px;
    color: black;
    border: none;
    font-family: sans-serif;
    font-weight: 200;
    margin: 20px 0 0 0;
}


@media (max-width:660px){
    .form_cont form textarea {
        width: 90%;
        margin-left: 5%;
    }
    .form_cont form input {
        width: 90%;
        margin-left: 5%;
    }
    .form_cont .field.center .btn-send-querry {
       margin-left: 30%;
    }
}


